
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
	background: inherit ;
	border:none; 
	box-shadow:none; 
	border-radius:0; 
	padding:0; 
	overflow:visible; 
	cursor:pointer}
a{
	text-decoration: none;
}
html{ 
	font-size:10px; 
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

*{
	font-family: 'Noto Sans KR', sans-serif;
	box-sizing: border-box;
}

/*header*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .header{
        max-width: 1233px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .header-logo{
            padding-top: 28px;
            width: 185px;
            img{
                width: 100%;
            }
        }
        .header-menu{
            padding-top: 20px;
            button{
                background-color: transparent;
                width: 130px;
                height: 45px;
                font-size: 17px;
                font-weight: 500;
                margin-left: 17px;
                &:nth-child(1){
                    width: 30px;
                    margin-left: 0;
                    border: none;
                    color: rgb(43, 13, 75);
                }
                &:nth-child(2){
                    border: 1px solid #fff;
                    font-weight: 400;
                    border-radius: 5px;
                    color: #fff;
                    background-color: rgb(43, 13, 75);
                    transition: 0.3s;
                    position: relative;
                    z-index: 1;
                    &::after{
                        content: "";
                        width: 0%;
                        height: 100%;
                        position: absolute;
                        border-radius: 5px;
                        top: 0;
                        left: 0;
                        background-color: rgb(96, 38, 158);
                        transition: 0.3s;
                    }
                    &:hover{
                        &::after{
                            width: 100%;
                            z-index: -1;
                        }
                    }
                }
                &:nth-child(3){
                    border: 1px solid #6433D1;
                    border-radius: 5px;
                    color: rgb(96, 38, 158);
                    background-color: #fff;
                    font-weight: 600;
                    transition: 0.3s;
                    position: relative;
                    z-index: 1;
                    &::after{
                        content: "";
                        width: 0%;
                        height: 100%;
                        position: absolute;
                        border-radius: 5px;
                        top: 0;
                        left: 0;
                        background-color: rgb(96, 38, 158);
                        transition: 0.3s;
                    }
                    &:hover{
                        color: #fff;
                        &::after{
                            width: 100%;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }
}

/*aside*/
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    button{
        margin-bottom: 15px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgb(43, 13, 75);
        &:nth-child(1){
            width: 12px;
            height: 12px;
        }
    }
}
