@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

/*header*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
header .header {
  max-width: 1233px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .header .header-logo {
  padding-top: 28px;
  width: 185px;
}
header .header .header-logo img {
  width: 100%;
}
header .header .header-menu {
  padding-top: 20px;
}
header .header .header-menu button {
  background-color: transparent;
  width: 130px;
  height: 45px;
  font-size: 17px;
  font-weight: 500;
  margin-left: 17px;
}
header .header .header-menu button:nth-child(1) {
  width: 30px;
  margin-left: 0;
  border: none;
  color: rgb(43, 13, 75);
}
header .header .header-menu button:nth-child(2) {
  border: 1px solid #fff;
  font-weight: 400;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(43, 13, 75);
  transition: 0.3s;
  position: relative;
  z-index: 1;
}
header .header .header-menu button:nth-child(2)::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  background-color: rgb(96, 38, 158);
  transition: 0.3s;
}
header .header .header-menu button:nth-child(2):hover::after, header .header .header-menu button:nth-child(2).active::after {
  width: 100%;
  z-index: -1;
}
header .header .header-menu button:nth-child(3) {
  border: 1px solid #6433D1;
  border-radius: 5px;
  color: rgb(96, 38, 158);
  background-color: #fff;
  font-weight: 600;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}
header .header .header-menu button:nth-child(3)::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  background-color: rgb(96, 38, 158);
  transition: 0.3s;
}
header .header .header-menu button:nth-child(3):hover, header .header .header-menu button:nth-child(3).active {
  color: #fff;
}
header .header .header-menu button:nth-child(3):hover::after, header .header .header-menu button:nth-child(3).active::after {
  width: 100%;
  z-index: -1;
}

/*aside*/
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
aside button {
  margin-bottom: 15px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(43, 13, 75);
}
aside button:nth-child(1) {
  width: 12px;
  height: 12px;
}

/*footer*/
footer {
  width: 100%;
  background: black;
  height: 135px;
}
footer .footer-container {
  width: 64%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container img {
  width: 150px;
}
footer .footer-container div {
  display: flex;
}
footer .footer-container div a {
  color: #fafafa;
  font-size: 1.2rem;
  font-weight: 700;
}
footer .footer-container div p {
  color: #fafafa;
  font-size: 1.2rem;
  margin-left: 19px;
}/*# sourceMappingURL=reset.css.map */