@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

*{font-family: 'Noto Sans KR', sans-serif;}

/*header*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .header{
        max-width: 1233px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .header-logo{
            padding-top: 28px;
            width: 170px;
            img{
                width: 100%;
            }
        }
        .header-menu{
            padding-top: 20px;
            button{
                background-color: transparent;
                padding: 12px 20px;
                font-size: 17px;
                font-weight: 500;
                margin-left: 17px;
                &:nth-child(1){
                    border: none;
                    color: rgb(43, 13, 75);
                }
                &:nth-child(2){
                    border: 1px solid #fff;
                    border-radius: 5px;
                    color: #fff;
                    background-color: rgb(43, 13, 75);
                }
                &:nth-child(3){
                    border: 1px solid #6433D1;
                    border-radius: 5px;
                    color: rgb(96, 38, 158);
                    background-color: #fff;
                    font-weight: 900;
                }
            }
        }
    }
}

/*aside*/
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    button{
        margin-bottom: 15px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgb(43, 13, 75);
        &:nth-child(1){
            width: 12px;
            height: 12px;
        }
    }
}
