/*main*/
main {
  width: 100%;
}
main .content01 {
  position: relative;
  overflow: hidden;
}
main .content01 .content01-text {
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 20%;
}
main .content01 .content01-text p {
  font-size: 28px;
  font-weight: bold;
  position: relative;
  line-height: 40px;
}
main .content01 .content01-text p::before {
  content: "";
  display: block;
  width: 28px;
  height: 20px;
  position: absolute;
  top: -70px;
  left: 250px;
  background: url("https://dplanex.co.kr/static/media/icon_dot1.34ef806471b0585744cd6ffca4b56396.svg");
}
main .content01 .content01-text p::after {
  content: "";
  display: block;
  width: 28px;
  height: 20px;
  position: absolute;
  top: 170px;
  left: 250px;
  background: url("https://dplanex.co.kr/static/media/icon_dot2.06fff6e5ef36300399db5e4e8a953b6a.svg");
}
main .content01 .content01-container {
  width: 100%;
  height: 100vh;
}
main .content01 .content01-container .content01-container-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
main .content01 .content01-container .content01-container-bottom .content01-img01 {
  width: 780px;
  position: relative;
  top: -100px;
}
main .content01 .content01-container .content01-container-bottom .content01-img01 img {
  width: 100%;
}
main .content01 .content01-container .content01-container-bottom .content01-icon01 {
  width: 175px;
  position: absolute;
  top: -110px;
  right: 180px;
  z-index: -2;
}
main .content01 .content01-container .content01-container-bottom .content01-icon01 img {
  width: 100%;
}
main .content01 .content01-container .content01-container-bottom .content01-icon02 {
  width: 110px;
  position: absolute;
  top: -60px;
  left: 100px;
  z-index: -2;
}
main .content01 .content01-container .content01-container-bottom .content01-icon02 img {
  width: 100%;
}
main .content01 .content01-container .content01-container-bottom .icon01 {
  -webkit-animation: upDown3 3s ease 0s infinite;
          animation: upDown3 3s ease 0s infinite;
}
main .content01 .content01-container .content01-container-bottom .icon02 {
  -webkit-animation: upDown2 2s ease 0s infinite;
          animation: upDown2 2s ease 0s infinite;
}
main .content01 .content01-container .content01-container-top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -3;
}
main .content01 .content01-container .content01-container-top .content01-img02 {
  position: relative;
  top: -100px;
  left: 220px;
}
main .content01 .content01-container .content01-container-top .content01-img02 img {
  width: 100%;
}
main .content01 .content01-container .content01-container-top .content01-icon03 {
  width: 250px;
  position: absolute;
  top: 150px;
  right: 400px;
}
main .content01 .content01-container .content01-container-top .content01-icon03 img {
  width: 100%;
}
main .content01 .content01-container .content01-container-top .content01-icon04 {
  width: 110px;
  position: absolute;
  top: 250px;
  right: 250px;
}
main .content01 .content01-container .content01-container-top .content01-icon04 img {
  width: 100%;
}
main .content01 .content01-container .content01-container-top .icon03 {
  -webkit-animation: big1 3s linear 0s infinite;
          animation: big1 3s linear 0s infinite;
}
main .content01 .content01-container .content01-container-top .icon04 {
  -webkit-animation: big1 4s linear 0s infinite;
          animation: big1 4s linear 0s infinite;
}
main .content02 {
  width: 100%;
  background: url("../img/section2_bg.29cd241d4864d9c1a632.png");
}
main .content02 .content02-container {
  max-width: 910px;
  margin: 0 auto;
  padding-top: 155px;
}
main .content02 .content02-container .content02-text {
  text-align: center;
}
main .content02 .content02-container .content02-text p {
  font-size: 31px;
  font-weight: 700;
  line-height: 55px;
}
main .content02 .content02-container .content02-text p span {
  font-size: 40px;
  font-weight: 900;
  color: #6433d1;
  display: block;
  margin-bottom: 115px;
}
main .content02 .content02-container .content02-text p:nth-child(2) {
  font-size: 35px;
  font-weight: 900;
  color: #60269e;
  margin-bottom: 40px;
}
main .content02 .content02-container .content02-image {
  max-width: 910px;
  margin: 0 auto;
}
main .content02 .content02-container .content02-image .content02-img01 {
  display: flex;
  justify-content: space-between;
}
main .content02 .content02-container .content02-image .content02-img01 .content02-balloon01 {
  position: relative;
  width: 415px;
}
main .content02 .content02-container .content02-image .content02-img01 .content02-balloon01 img {
  width: 100%;
}
main .content02 .content02-container .content02-image .content02-img01 .content02-balloon01 div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .content02 .content02-container .content02-image .content02-img01 .content02-balloon01 div p {
  font-size: 22px;
  font-weight: 500;
}
main .content02 .content02-container .content02-image .content02-img01 .content02-balloon01 div p:nth-child(1) {
  color: #60269e;
  font-size: 31px;
  font-weight: 900;
  margin-bottom: 30px;
}
main .content02 .content02-container .content02-image .content02-img01 .content02-balloon02 {
  width: 415px;
}
main .content02 .content02-container .content02-image .content02-img01 .content02-balloon02 img {
  width: 100%;
}
main .content02 .content02-container .content02-image .content02-img01 .content02-balloon02 div p {
  font-size: 22px;
  font-weight: 500;
}
main .content02 .content02-container .content02-image .content02-img01 .content02-balloon02 div p:nth-child(1) {
  color: #60269e;
  font-size: 31px;
  font-weight: 900;
}
main .content02 .content02-container .content02-image .content02-img02 {
  text-align: center;
  margin-top: -75px;
  position: relative;
  z-index: 1;
}
main .content03 {
  width: 100%;
  background: #fbf8ff;
}
main .content03 .content03-container {
  max-width: 1050px;
  margin: 0 auto;
  padding-top: 150px;
}
main .content03 .content03-container .content03-text {
  text-align: center;
  margin-bottom: 132px;
}
main .content03 .content03-container .content03-text p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 17px;
}
main .content03 .content03-container .content03-text p:nth-child(2) {
  margin-bottom: 0px;
  font-size: 31px;
  font-weight: 900;
  color: rgb(100, 51, 209);
  line-height: 1.4;
}
main .content03 .content03-container .content03-image {
  display: flex;
  justify-content: space-between;
}
main .content03 .content03-container .content03-image figure {
  align-items: center;
}
main .content03 .content03-container .content03-image figure:nth-child(3) .content03-image-text {
  width: 320px;
}
main .content03 .content03-container .content03-image figure .content03-img {
  width: 310px;
  position: relative;
  margin-bottom: 70px;
}
main .content03 .content03-container .content03-image figure .content03-img img {
  width: 100%;
}
main .content03 .content03-container .content03-image figure .content03-img img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}
main .content03 .content03-container .content03-image figure .content03-image-text {
  width: 310px;
  text-align: center;
  margin-bottom: 110px;
}
main .content03 .content03-container .content03-image figure .content03-image-text p {
  font-size: 19px;
  font-weight: 500px;
  line-height: 30px;
}
main .content03 .content03-container .content03-image figure .content03-image-text p:nth-child(1) {
  font-size: 22px;
  font-weight: 700;
  color: #6433d1;
  margin-bottom: 21px;
}
main .content04 {
  width: 100%;
  background: #3a207b;
}
main .content04 .content04-container {
  max-width: 1025px;
  margin: 0 auto;
  padding-bottom: 300px;
}
main .content04 .content04-container .content04-text {
  text-align: center;
  padding-top: 154px;
  margin-bottom: 145px;
}
main .content04 .content04-container .content04-text p {
  font-size: 44px;
  font-weight: 900;
  color: #faf8ff;
  line-height: 73px;
}
main .content04 .content04-container .content04-text p:nth-child(2) {
  font-size: 22px;
  font-weight: 500;
  color: #b9a2dc;
  margin-top: 40px;
  line-height: 37px;
}
main .content04 .content04-container .content04-image {
  width: 720px;
  height: 140px;
  margin: 0 auto;
  position: relative;
}
main .content04 .content04-container .content04-image img:nth-child(1) {
  width: 100%;
}
main .content04 .content04-container .content04-image img:nth-child(2) {
  height: 93%;
  position: absolute;
  left: 104px;
  top: 4px;
}
main .content04 .content04-container .content04-image img:nth-child(3) {
  height: 93%;
  position: absolute;
  right: 0;
  top: 4px;
}
main .content05 {
  width: 100%;
  background: #f0eaff;
}
main .content05 .content05-container {
  max-width: 1025px;
  margin: 0 auto;
  padding-top: 156px;
}
main .content05 .content05-container .content05-text {
  text-align: center;
  margin-bottom: 72px;
}
main .content05 .content05-container .content05-text p {
  font-size: 25px;
  font-weight: 900;
  color: #6533d1;
}
main .content05 .content05-container .content05-text p span {
  color: black;
}
main .content05 .content05-container .content05-text p:nth-child(2) {
  margin-top: 24px;
  font-size: 13px;
  font-weight: 500;
}
main .content05 .content05-container .content05-mid {
  max-width: 240px;
  margin: 0 auto 86px;
}
main .content05 .content05-container .content05-mid .content05-mid-img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}
main .content05 .content05-container .content05-mid .content05-mid-img img {
  width: 105px;
}
main .content05 .content05-container .content05-mid p {
  text-align: center;
  color: #6c33eb;
  font-size: 10px;
  font-weight: 500;
}
main .content05 .content05-container .content05-image {
  width: 695px;
  margin: 0 auto;
}
main .content05 .content05-container .content05-image img {
  width: 100%;
}
main .content06 {
  width: 100%;
}
main .content06 .content06-container {
  max-width: 1233px;
  margin: 0 auto;
}
main .content06 .content06-container h2 {
  text-align: center;
  padding-top: 146px;
  font-size: 33px;
  font-weight: 900;
  margin-bottom: 86px;
}
main .content06 .content06-container .content06-text div {
  display: flex;
  width: 607px;
  border-bottom: 1px solid #ddd;
  padding: 32px 0 16px 14px;
}
main .content06 .content06-container .content06-text div p {
  font-size: 12px;
  font-weight: 700;
}
main .content06 .content06-container .content06-text div input {
  border: none;
}
main .content06 .content06-container .content06-text div textarea {
  border: none;
  background: #fafafa;
}
main .content06 .content06-container .content06-text button {
  width: 179px;
  height: 52px;
  font-size: 12px;
  font-weight: 500;
  background: #ddd;
  margin-top: 23px;
  margin-bottom: 75px;
}
main .content06 .content06-image {
  position: relative;
}
main .content06 .content06-image img:nth-child(1) {
  width: 990px;
  position: absolute;
  right: 0;
  bottom: 0;
}
main .content06 .content06-image img:nth-child(2) {
  width: 145px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/********************************************************************************************/
@-webkit-keyframes upDown3 {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes upDown3 {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes upDown2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes upDown2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes big1 {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes big1 {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes big2 {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes big2 {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}/*# sourceMappingURL=index.css.map */